{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/thewodlife.myshopify.com/products/configure/123109/edit
{% endcomment %}
{% if product.metafields.custom_fields["launching_date"] != blank %}
  <div class="custom-field custom-field__launching-date custom-field__type--text">
    <h3 class="custom-field--title">launching date</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["launching_date"] }}
    </div>
  </div>
{% endif %}